@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

body {
  margin: 0;
  padding: 0;
  font-family: 'Hind Siliguri', sans-serif;
  letter-spacing: .5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  max-width: 1500px;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url('../images/header/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.top-bar {
  position: relative;
  color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  transition-duration: .5s;
}

.top-bar.fixed {
  background-color: #efefef;
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  color: #a0a0a0;
  z-index: 1;
}
.top-bar.fixed .phone-nav div {
  background-color: #a0a0a0;
}

.title-container span {
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
  transition-duration: .5s;
}

.nav-container span {
  font-weight: 600;
  margin: 10px;
  padding-bottom: 5px;
  cursor: pointer;
  transition-duration: .1s;
}

.phone-nav {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  display: inline-block;
  cursor: pointer;
}

.phone-nav div {
  margin-bottom: 5px;
  width: 50px;
  height: 8px;
  background-color: #efefef;
}

.main-nav {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  transition-duration: .5s;
}

.main-nav.hidden {
  transform: translateY(-200%);
  opacity: 0;
}

.main-nav span:hover {
  border-bottom: 3px solid #c1c1c1;
}

.main-nav span:first-child {
  border-bottom: 3px solid #c1c1c1;
}

.header .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #363636;
  background-color: rgba(255, 255, 255, 0.1);
}

.header .content span {
  max-width: 500px;
  overflow-wrap: break-word;
  align-self: center;
}

.header .content span:nth-child(1) {
  font-family: 'Yellowtail', cursive;
  font-size: 50px;
}

.dark-bg {
  background-color: #ecebeb;
}

.light-bg {
  background-color: #efefef;
}

.services-section .txt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.services-section .txt-container span:first-child {
  color: #f34141;
  font-weight: 600;
  text-transform: uppercase;
}

.services-section .txt-container span:nth-child(2) {
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
}

.services-section .txt-container span:last-child {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  align-self: center;
  text-align: center;
  color: #727070;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.services div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  color: #222222;
}

.services div span {
  max-width: 600px;
  text-align: center;
}

.our-work-section h1 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 0;
  text-align: center;
  padding: 10px;
  color: #222222;
}

.our-work-section div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.our-work-section div:last-child div {
  flex: 1;
}

.our-work-section div:last-child div img {
  display: block;
  max-width: 100%;
}

.features-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features-section h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

.features-section .txt-container {
  padding: 20px;
  max-width: 600px;
}

.features-section span {
  max-width: 600px;
}

.features-section span .orange {
  color: orange;
}

.features-section .txt-container .bottom-container {
  margin-top: 30px;
}

.features-section .txt-container .bottom-container > span {
  display: block;
  margin-top: 20px;
}

.features-section .img-container img {
  position: relative;
  right: 20px;
  max-width: 100%;
}

.technologies-section {
  position: relative;
  background: url('../images/technologies/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.technologies-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.technologies-section .content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #efefef;
}

.technologies-section .content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid #efefef;
  transition-duration: .5s;
}

.technologies-section .content div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.technologies-section .content div span {
  margin-top: 10px;
}

.our-blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.our-blog-section span {
  color: #777676;
}

.our-blog-section .txt-container {
  max-width: 600px;
}

.our-blog-section .blogs,
.our-blog-section .blog {
  margin-top: 20px;
}

.our-blog-section .blogs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.our-blog-section .blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, .3);
  cursor: pointer;
}

.our-blog-section .blog img {
  max-width: 100%;
}

.our-blog-section .blog h1 {
  max-width: 300px;
}

.our-partners-section {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-partners-section div {
  margin: 10px;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 20px;
  background-image: url('../images/our-blog/img2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #efefef;
}

.footer-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.footer-section div {
  position: relative;
  margin-top: 10px;
}

.footer-section div:last-child {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.footer-section div:last-child * {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .phone-nav {
    display: none;
  }

  .main-nav {
    position: relative;
    top: initial;
    left: initial;
    transform: translate(0, 0);
  }

  .services {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .services div {
    flex: 45%;
  }

  .services-section > div {
    padding: 100px;
  }

  .our-work-section {
    padding-top: 100px;
  }

  .our-work-section div:last-child {
    flex-direction: row;
  }

  .our-work-section div:last-child div {
    flex: 45%;
  }

  .features-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .technologies-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .technologies-section .content {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 45%;
  }

  .our-blog-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .our-blog-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .our-blog-section .blogs {
    flex-direction: row;
  }

  .our-blog-section .blog {
    margin: 10px;
    flex: 45%;
  }

  .our-partners-section .logos {
    display: flex;
    flex-wrap: wrap;
  }

  .our-partners-section .logos div {
    flex: 45%;
  }
}

@media screen and (min-width: 900px) {
  .our-work-section div:last-child div {
    flex: 1;
  }

  .features-section {
    flex-direction: row;
  }

  .features-section div:last-child {
    align-items: center;
    justify-content: center;
  }

  .our-blog-section .blog {
    flex: 1;
  }

  .our-partners-section .logos div {
    flex: 1;
  }

  .footer-section {
    flex-direction: row;
  }

  .footer-section div:first-child {
    flex: 50%;
  }

  .footer-section div:last-child {
    margin-right: 50px;
    width: 300px;
  }
}