@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');


/*general*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Hind Siliguri', sans-serif;
  letter-spacing: .5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.flex-col {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}

/*landing page*/
.top-bar {
  position: relative;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.top-bar span {
  color: #efefef;
}

.top-bar.fixed {
  background-color: #efefef;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  z-index: 1;
  transition-duration: .5s;
}

.top-bar.fixed .title-container span,
.top-bar.fixed .main-nav span:not(:last-child)  {
  color: #a0a0a0;
}

.top-bar.fixed .phone-nav div {
  background-color: #a0a0a0;
}

.title-container a {
  text-decoration: none;
}

.title-container span {
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
  transition-duration: .5s;
}

.nav-container span {
  font-weight: 600;
  margin: 10px;
  padding-bottom: 5px;
  cursor: pointer;
  transition-duration: .1s;
}

.phone-nav {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  display: inline-block;
  cursor: pointer;
}

.phone-nav div {
  margin-bottom: 5px;
  width: 50px;
  height: 8px;
  background-color: #efefef;
}

.main-nav {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 120%;
  left: 0;
  transition-duration: .5s;
}

.main-nav.hidden {
  transform: translateY(-200%);
  opacity: 0;
  pointer-events: none;
}

.main-nav a {
  text-decoration: none;
  transition-duration: .1s;
}

.main-nav a,
.main-nav a:visited,
.main-nav a:active,
.main-nav a:link,
.main-nav a:any-link {
  color: inherit;
}

.main-nav > *:not(:last-child):hover {
  border-bottom: 3px solid orange;
}

.main-nav > *.active {
  border-bottom: 3px solid orange;
}

.main-nav > *:last-child {
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
}

.header .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  text-align: center;
  color: #efefef;
  background-color: rgba(255, 255, 255, 0.1);
}

.header .content span:first-child {
  color: #dd9000;
}

.header .content span {
  max-width: 500px;
  overflow-wrap: break-word;
  align-self: center;
}

.header .content span:nth-child(1) {
  font-family: 'Yellowtail', cursive;
  font-size: 50px;
}

.dark-bg {
  background-color: #ecebeb;
}

.light-bg {
  background-color: #efefef;
}

.services-section .txt-container {
  padding: 20px;
  width: 100%;
}

.services-section .txt-container span:first-child {
  color: #f34141;
  font-weight: 600;
  text-transform: uppercase;
}

.services-section .txt-container span:nth-child(2) {
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
}

.services-section .txt-container span:last-child {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  align-self: center;
  text-align: center;
  color: #727070;
}

.services-section .bottom-container {
  width: 100%;
}

.services {
  padding: 20px;
  max-width: 1500px;
}

.services div {
  margin-bottom: 50px;
  color: #222222;
}

.services div span {
  max-width: 600px;
  text-align: center;
}

.our-work-section h1 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 0;
  text-align: center;
  padding: 10px;
  color: #222222;
}

.our-work-section div:last-child {
  flex-wrap: wrap;
}

.our-work-section div:last-child div {
  flex: 1;
}

.our-work-section div:last-child div img {
  display: block;
  max-width: 100%;
}

.features-section h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

.features-section .txt-container {
  padding: 20px;
  max-width: 600px;
}

.features-section span {
  max-width: 600px;
}

.features-section span .orange {
  color: orange;
}

.features-section .txt-container .bottom-container {
  margin-top: 30px;
}

.features-section .txt-container .bottom-container > span {
  display: block;
  margin-top: 20px;
}

.features-section .img-container img {
  position: relative;
  right: 20px;
  max-width: 100%;
}

.technologies-section {
  position: relative;
  background: url('../images/home/technologies/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.technologies-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.technologies-section .content {
  padding: 20px;
  position: relative;
  color: #efefef;
}

.technologies-section .content div {
  padding: 30px;
  margin: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid #efefef;
  transition-duration: .5s;
}

.technologies-section .content div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.technologies-section .content div span {
  margin-top: 10px;
}

.our-blog-section {
  padding: 20px;
}

.our-blog-section span {
  color: #777676;
}

.our-blog-section .txt-container {
  max-width: 600px;
}

.our-blog-section {
  text-align: center;
}

.our-blog-section .blogs,
.our-blog-section .blog {
  margin-top: 20px;
}

.our-blog-section .blogs {
  flex-wrap: wrap;
}

.our-blog-section .blog {
  border: 1px solid rgba(0, 0, 0, .3);
  cursor: pointer;
}

.our-blog-section .blog img {
  max-width: 100%;
}

.our-blog-section .blog h1 {
  max-width: 300px;
}

.our-partners-section {
  padding: 10px;
  flex-wrap: wrap;
}

.our-partners-section div {
  margin: 10px;
}

.footer-section {
  position: relative;
  padding: 20px;
  background-image: url('../images/home/our-blog/img2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #efefef;
}

.footer-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.footer-section div {
  position: relative;
  margin-top: 10px;
}

.footer-section div:last-child {
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.footer-section div:last-child * {
  cursor: pointer;
}

/*Portfolio page*/
.about-section {
  padding: 20px;
}

.about-section .img-container {
  width: 300px;
  height: 50%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, .3);
}

.about-section .img-container img {
  width: 100%;
}

.about-section .txt-container {
  max-width: 600px;
}

.client-section, .client-section .client-cards {
  flex-wrap: wrap;
}

.client-section .client {
  width: 90%;
  background-color: #f8f8f8;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.client-section .client div {
  flex: 45%;
  margin: 10px;
}

.client-section .client img {
  max-width: 50%;
  border-radius: 5px;
}

/*Pricing page*/
.plan-container {
  padding: 20px;
}

.plan-container .img-container img {
  width: 90%;
}

.prices-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pricing-cards .card {
  border-radius: 5px;
  background-color: #dbdbdb;
  padding: 50px;
  transition-duration: .5s;
  margin: 15px;
}

.pricing-cards .card:nth-child(2) {
  background-color: #2c1a4e;
  color: #efefef;
}

.pricing-cards .card:hover {
  transform: translateY(-10px);
}

.pricing-cards button {
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: #2c1a4e;
  color: #efefef;
  padding: 15px 30px;
  outline: none;
  cursor: pointer;
}

.pricing-cards .card:nth-child(2) button {
  background-color: orange;
}

@media screen and (min-width: 600px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .top-bar {
    padding: 20px;
  }

  .phone-nav {
    display: none;
  }

  .main-nav {
    position: relative;
    top: initial;
    left: initial;
    transform: translate(0, 0);
  }

  .services-section {
    padding: initial;
  }

  .services {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .services div {
    flex: 45%;
  }

  .services-section > div {
    padding: 100px;
  }

  .our-work-section {
    padding-bottom: 0px;
  }

  .our-work-section div:last-child {
    flex-direction: row;
  }

  .our-work-section div:last-child div {
    flex: 45%;
  }

  .technologies-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .technologies-section .content {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 45%;
  }

  .our-blog-section .blogs {
    flex-direction: row;
  }

  .our-blog-section .blog {
    margin: 10px;
    flex: 45%;
  }

  .our-partners-section .logos div {
    flex: 45%;
  }

  /*Portfolio page*/
  .about-section  .content {
    flex-direction: row;
  }

  .about-section  .content div {
    margin: 10px;
  }

  .client-section .client-cards {
    flex-direction: row;
  }

  .client-section .client {
    width: 45%;
  }

  /*Pricing page*/
  .plan-container span,
  .plan-container .img-container {
    max-width: 600px;
  }

  .pricing-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pricing-cards .card {
    width: 30%;
  }
}

@media screen and (min-width: 900px) {
  .our-work-section div:last-child {
    max-width: 1500px;
  }
  .our-work-section div:last-child div {
    flex: 1;
  }

  .our-work-section div:last-child div img {
    height: 400px;
  }

  .features-section {
    flex-direction: row;
  }

  .features-section div:last-child {
    align-items: center;
    justify-content: center;
  }

  .our-blog-section {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1500px;
  }

  .our-blog-section .blog {
    flex: 1;
  }

  .our-partners-section .logos div {
    flex: 1;
  }

  .footer-section {
    flex-direction: row;
  }

  .footer-section > div {
    max-width: 1500px;
  }

  .footer-section div:first-child {
    flex: 50%;
  }

  .footer-section div:last-child {
    margin-right: 50px;
    width: 300px;
  }

  /*Portfolio page*/
  .about-section  .content div {
    margin: 50px;
  }

  .client-section .client-cards {
    max-width: 1500px;
  }

  .client-section .client {
    width: 30%;
  }

  /*Pricing page*/
  .pricing .plan-container {
    flex-direction: row-reverse;
  }

  .plan-container {
    flex-wrap: initial;
  }

  .plan-container > div {
    width: 45%;
    margin: 50px;
  }

  .plan-container img {
    width: 100%;
  }

  .pricing-cards .card {
    width: initial;
    flex: 1;
  }
}